body {
  font-family: Arial, Helvetica, sans-serif;
}
/*CSS for sidebars*/
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: green;
  overflow-x: hidden;
  padding-top: 16px;
}
/* Style for sidebar links*/
.sidebar a {
  padding: 5px 8px 5px 15px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: flex;
}
/*Style links on mouse over*/
.sidebar a:hover {
  color: yellow;
  text-decoration: underline;
}
/*style on main*/
.main {
  margin-left: 160px;
  padding: 0px 10px;
  text-align: left;
}
